@media (max-width: 991px) {
  /* custom class */
  .text-content {
    width: 100%;
  }

  /* navbar-brand */
  .navigation-wrap .navbar-brand img {
    height: 3.812rem;
  }
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  .navigation-wrap .nav-link {
    line-height: 1.875rem;
  }

  /* Banner design */

  .top-banner {
    padding: 9.375rem 0 7.375rem;
  }
}

@media (max-width: 767px) {
  /* custom css */
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.0625rem;
  }

  /* top banner */
  .top-banner {
    padding: 10.875rem 0 9.375rem;
  }

  /* carousel design */
  .testimonial-section h2{
    font-size: 30px;
  }

  .testimonial-section .carousel-item {
    margin-top: 0;
    padding: 0;
  }

  .testimonial-section .carousel-item img{
    max-width: 4rem;
    margin-bottom: 0.5rem;
  }

  .testimonial-section .carousel-item p{
    font-size: 10px;
  } 
}
